@import "variables/bitters";
@import "variables/neat";
@import "variables/custom_pallete";

// Sizes
$max-width: 720px;

$primary: #36454F;
$secondary: #B2BEB5;
$tertiary: #F5F6FB;

// Others
$box-shadow: rgba(15, 15, 15, 0.05) 0px 0px 0px 1px, rgba(15, 15, 15, 0.1) 0px 3px 6px, rgba(15, 15, 15, 0.2) 0px 9px 24px;