node_modules/**/*
dandelion-pro/**/*
.expo/*
npm-debug.*
*.jks
*.p8yarn 
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/
package-lock.json

# macOS
.DS_Store

.vercel

# Local Netlify folder
.netlify

# Local Ness directory
.ness

.env